.h1{
    height: 50px;
    width: 50px;

}
.h2{
    height: 60px;
    width: 60px;
}
.h3{
    height: 70px;
    width: 70px;
}
.outlines{
    border: 1px solid black;
    color: red;
    background-color: teal;
   
}
.text{
    text-align: right;
    text-decoration: line-through;
    line-height: 20px;
    white-space: nowrap;
}